td{
background-color: orange;
width: 250px;
height: 100px;
}

pre{
	border: 50px solid transparent;
	padding: 15px;
	border-image: url(F4.jfif) 30% round;

}
h1{
	text-shadow: 2px 2px 8px #FF0000;

}
th{
	background-color: black;
	color: white;
	width: 250px;
	height: 20px;
}
