h3{
	 text-align: center; 
}
h5{
	 text-align: justify; 
}
pre{
	border: 50px solid transparent;
	padding: 15px;
	border-image: url(F2.jpg) 30% round;

}
h1{
	text-shadow: 2px 2px 8px #FF0000;

}
h3{
	text-align: left;
}